{{ "featured.css" | asset_url | stylesheet_tag }}
{% liquid
  assign bg_color = section.settings.bg_color
  assign bg_img = section.settings.bg_img
%}
<div class="feactured-container
  {%  case section.settings.feature_layout %}
    {% when "full_width" %}
        full-width
    {% when "container" %}
        container
    {% when 'container_wrapper' %}
        container-wrapper

  {% endcase %}">

  <div class="layout">
    amars
  </div>
</div>

{% style %}
  #shopify-section-{{ section.id }} .full-width {
    width: 100%;
    height: 500px;
    {% if section.settings.layout_style == "bg_img" %}
      background-image: url("{{ section.settings.bg_img | image_url: width: "1200" }}");
      background-size: cover;
      background-position: center;
      background-color: transparent;
    {% elsif section.settings.layout_style == "bg_color" %}
      background: {{ section.settings.bg_color }};
    {% endif %}
  }

  #shopify-section-{{ section.id }}
  .container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    height: 500px;
    {% if section.settings.layout_style == "bg_img" %}
      background-image: url("{{ section.settings.bg_img | image_url: width: "1200" }}");
      background-size: cover;
      background-position: center;
      background-color: transparent;
    {% elsif section.settings.layout_style == "bg_color" %}
      background: {{ section.settings.bg_color }};
    {% endif %}
  }

  #shopify-section-{{ section.id }}
  .container-wrapper {
    max-width: 100%;
    width: 100%;
    height: 500px;
    margin: 0 auto;
    {% if section.settings.layout_style == "bg_img" %}
      background-image: url("{{ section.settings.bg_img | image_url: width: "1200" }}");
      background-size: cover;
      background-position: center;
      background-color: transparent;
    {% elsif section.settings.layout_style == "bg_color" %}
      background: {{ section.settings.bg_color }};
    {% endif %}
  }
{% endstyle %}

{% schema %}
  {
    "name": "Featured",
    "tag": "section",
    "class": "featured_section",
    "settings": [
      {
        "type": "select",
        "id": "feature_layout",
        "label": "Layout",
        "default": "container",
        "options": [
          {
            "label": "Full Width",
            "value": "full_width"
          },
          {
            "label": "Cotainer",
            "value": "container"
          },
          {
            "label": "Container Wrapper",
            "value": "container_wrapper"
          }
        ]
      },
      {
        "type": "select",
        "label": "Layout Style",
        "id": "layout_style",
        "default": "bg_color",
        "options": [
          {
            "label": "Background Color",
            "value": "bg_color"
          },
          {
            "label": "Background Image",
            "value": "bg_img"
          }
        ]
      },
      {
        "type": "color",
        "label": "Background Color",
        "id": "bg_color",
        "visible_if": "{{ section.settings.layout_style == 'bg_color' }}"
      },
      {
        "type": "image_picker",
        "label": "Background Image",
        "id": "bg_img",
        "visible_if": "{{ section.settings.layout_style == 'bg_img' }}"
      }
    ],
    "presets": [
      {
        "name": "Featured Section"
      }
    ]
  }

{% endschema %}