{{ "featured.css" | asset_url | stylesheet_tag }}
{% liquid
  assign bg_color = section.settings.bg_color
  assign bg_img = section.settings.bg_img
  assign margin_section = section.settings.mg | remove: '  ' | split: ','

  assign mg_top = margin_section[0] | strip | default: mg_top
  assign mg_right = margin_section[1] | strip | default: "auto"
  assign mg_bottom = margin_section[2] | strip | default: mg_bottom
  assign mg_left = margin_section[3] | strip | default: mg_left
  assign margin_css = mg_top | append: " " | append: mg_right | append: " " | append: mg_bottom | append: " " | append: mg_left

  assign padding_section = section.settings.pd | remove: '  ' | split: ','
  assign pd_top = padding_section[0] | strip | default: pd_top
  assign pd_right = padding_section[2] | strip | default: pd_right
  assign pd_bottom = padding_section[3] | strip | default: "50px"
  assign pd_left = padding_section[4] | strip | default: pd_left
  assign padding_css = pd_top | append: ' ' | append: pd_right | append: ' ' | append: pd_bottom | append: '' | append: pd_left
  assign title = section.settings.title
  assign description = section.settings.description
  assign alignment = section.settings.alignment
  
%}
<div class="feactured-container
  {%  case section.settings.feature_layout %}
    {% when "full_width" %}
        full-width
    {% when "container" %}
        container
    {% when 'container_wrapper' %}
        container-wrapper

  {% endcase %}">

  <div class="layout">
    <div class="{%  case section.settings.alignment  %}
    {%  when "left" %}
        left
      {%  when "center" %}
        center
      {%  when "right" %}
        right
    {% endcase %}">
      <h2>{{ title }}</h2>
      <p>{{ description }}</p>
    </div>
  </div>
</div>

{% style %}
  .layout-content {
    {% if layout-content == 'right' %}
      text-align: center;
    {% endif %}
  }
  #shopify-section-{{ section.id }}
  .full-width {
    width: 100%;
    margin: {{ margin_css }};
    padding: {{ padding_css }};
    {% if section.settings.layout_style == "bg_img" %}
      background-image: url("{{ section.settings.bg_img | image_url: width: "1200" }}");
      background-size: cover;
      background-position: center;
      background-color: transparent;
    {% elsif section.settings.layout_style == "bg_color" %}
      background: {{ section.settings.bg_color }};
    {% endif %}

  }

  #shopify-section-{{ section.id }}
  .container {
    max-width: 1200px;
    width: 100%;
    margin: {{ margin_css }};
    padding: {{ padding_css }};

    {% if section.settings.layout_style == "bg_img" %}
      background-image: url("{{ section.settings.bg_img | image_url: width: "1200" }}");
      background-size: cover;
      background-position: center;
      background-color: transparent;
    {% elsif section.settings.layout_style == "bg_color" %}
      background: {{ section.settings.bg_color }};
    {% endif %}
  }

  #shopify-section-{{ section.id }}
  .container-wrapper {
    max-width: 100%;
    width: 100%;

    margin: {{ margin_css }};
    padding: {{ padding_css }};
    {% if section.settings.layout_style == "bg_img" %}
      background-image: url("{{ section.settings.bg_img | image_url: width: "1200" }}");
      background-size: cover;
      background-position: center;
      background-color: transparent;
    {% elsif section.settings.layout_style == "bg_color" %}
      background: {{ section.settings.bg_color }};
    {% endif %}
  }
{% endstyle %}

{% schema %}
  {
    "name": "Featured",
    "tag": "section",
    "class": "featured_section",

    "settings": [
      {
        "type": "header",
        "content": "Layout Contant"
      },
      {
        "type": "inline_richtext",
        "label": "Title",
        "id": "title"
      },
      {
        "type": "inline_richtext",
        "label": "Description",
        "id": "description"
      },
      {
        "type": "header",
        "content": "Content Style"
      },
      {
        "type": "select",
        "label": "Content Alignment",
        "id": "alignment",
        "default": "center",
        "options": [
          {
            "label": "Left Alignment",
            "value": "left"
          },
          {
            "label": "Center Alignment",
            "value": "center"
          },
          {
            "label": "Right Alignment",
            "value": "Right"
          }

        ]
      },
      {
        "type": "header",
        "content": "Layout"
      },
      {
        "type": "select",
        "id": "feature_layout",
        "label": "Layout",
        "default": "container",
        "options": [
          {
            "label": "Full Width",
            "value": "full_width"
          },
          {
            "label": "Cotainer",
            "value": "container"
          },
          {
            "label": "Container Wrapper",
            "value": "container_wrapper"
          }
        ]
      },
      {
        "type": "select",
        "label": "Layout Style",
        "id": "layout_style",
        "default": "bg_color",
        "options": [
          {
            "label": "Background Color",
            "value": "bg_color"
          },
          {
            "label": "Background Image",
            "value": "bg_img"
          }
        ]
      },
      {
        "type": "color",
        "label": "Background Color",
        "id": "bg_color",
        "visible_if": "{{ section.settings.layout_style == 'bg_color' }}"
      },
      {
        "type": "image_picker",
        "label": "Background Image",
        "id": "bg_img",
        "visible_if": "{{ section.settings.layout_style == 'bg_img' }}"
      },
      {
        "type": "text",
        "label": "Margin",
        "id": "mg",
        "default": ",,auto,",
        "info": "Margin top, margin right, margin bottom, margin left. If you not use to blank"
      },
      {
        "type": "text",
        "label": "Padding",
        "id": "pd",
        "default": ",,50px,",
        "info": "Padding top, padding right, padding bottom, padding left. If you not use to blank"

      }
    ],
    "presets": [
      {
        "name": "Featured Section"
      }
    ]
  }

{% endschema %}